@import '../../styles/general.scss';

.container {
  padding: 5px;
  min-width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.categoryList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.categoryItem {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

.selected {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); // Change this to your desired shadow
  color: $primary-color;
  border-radius: 5px;
}

.categoryLabel {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7f8c8d;
  margin-left: 8px;
}

.categoryTitle {
  svg {
    display: none;
    color: #7f8c8d;
    width: 30px;
    height: 30px;
    padding: 5px;
  }
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px 0;
}
//tablet
@media (max-width: 1024px) {
  .categoryTitle {
    svg {
      display: block;
    }
  }
}

// mobile
// @media (max-width: 768px) {

// }
